<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href=allfundraisers>Go Community</a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <form class="form-inline my-2 my-lg-0">
        </form>
        <ul class="navbar-nav ml-auto">
            <div *ngIf="isLoggedin">
                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-user"></i> {{ name }} <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu-right"  ngbDropdownMenu>
                        <a class="dropdown-item" [routerLink]="['/profile']" href="javascript:void(0)">
                            <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}
                        </a>
                        <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                            <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                        </a>
                    </div>
                </li>
            </div>
            <div *ngIf="!isLoggedin">
                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-user"></i> You need to register <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu-right"  ngbDropdownMenu>
                        <a class="dropdown-item" [routerLink]="['/login']" href="javascript:void(0)">
                            <i class="fa fa-fw fa-user"></i> {{ 'login' | translate }}
                        </a>
                        <a class="dropdown-item" [routerLink]="['/signup']" href="javascript:void(0)">
                            <i class="fa fa-fw fa-user"></i> {{ 'Register' | translate }}
                        </a>

                    </div>
                </li>
            </div>

        </ul>
    </div>
</nav>
