
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="content col-md-8 col-sm-12 col-xs-12">
                <div class="section-block">
                    <div class="funding-meta">
                        <h1>My data</h1>
                        <form>
                            <div class="form-group">
                                <label for="campaignName">Nome</label>
                                <input class="form-control" id="campaignName">
                            </div>

                            <div class="form-group">
                                <label for="goal">Email</label>
                                <input class="form-control" id="goal">
                            </div>

                            <div class="form-group">
                                <label for="description">password</label>
                                <input class="form-control" id="goal">
                            </div>
                        </form>
                        <button type="submit" class="btn btn-launch">Submit</button>

                    </div>
                </div>
                <!--signup
                <div class="section-block signup">
                        <div class="sign-up-form">
                                <form>
                                        <p>Sign up now for updates and a chance to win a free version of launch!</p>
                                        <input class="signup-input" type="text" name="email" placeholder="Email Address"><button class="btn btn-signup" type="submit"><i class="fa fa-paper-plane"></i></button>
                                </form>
                        </div>
                </div>
                <!--/signup-->
            </div>
            <!--/tabs-->
            <!--/main content-->
            <!--sidebar-->

        </div>
    </div>
