<div class="row">


    <div class="col-sm-4" *ngFor="let fund of allFunds">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">By: {{fund.user.name}}</div>
            <div class="card-body">
                <h4 class="card-title">{{ fund.title }}</h4>
                <p class="card-text">{{fund.description}}</p>
            </div>
            <button type="button" class="btn btn-lg btn-default" (click)="setStore(fund)" [routerLink]="['/fundraiserpage']" [routerLinkActive]="['router-link-active']" >See details</button>
        </div>
    </div>




</div>
