
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="content col-md-8 col-sm-12 col-xs-12">
                <div class="section-block">
                    <div class="funding-meta">
                        <h1>Create a campaign</h1>
                        <form>
                            <div class="form-group">
                                <label for="campaignName">Campaign name</label>
                                <input class="form-control" id="campaignName" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
                            </div>

                            <div class="form-group">
                                <label for="goal">Monetary goal</label>
                                <input class="form-control" id="goal" [(ngModel)]="goal" [ngModelOptions]="{standalone: true}">
                            </div>

                            <div class="form-group">
                                <label for="description">Campaign description</label>
                                <textarea class="form-control" id="description" rows="3" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="goal">Image url</label>
                                <input class="form-control"  [(ngModel)]="image" [ngModelOptions]="{standalone: true}">
                            </div>

                        </form>
                        <button type="submit" class="btn btn-launch" (click)="click(title, description, image, goal)">Submit</button>

                    </div>

                </div>
                <!--signup
                <div class="section-block signup">
                        <div class="sign-up-form">
                                <form>
                                        <p>Sign up now for updates and a chance to win a free version of launch!</p>
                                        <input class="signup-input" type="text" name="email" placeholder="Email Address"><button class="btn btn-signup" type="submit"><i class="fa fa-paper-plane"></i></button>
                                </form>
                        </div>
                </div>
                <!--/signup-->
            </div>
            <!--/tabs-->
            <!--/main content-->
            <!--sidebar-->

        </div>
    </div>
