

<header class="alert alert-success">
    <div class="container">
        <div class="row">
                <div class="col-4">
                    <h3>0</h3>
                    <span>backers</span>
                </div>
                <div class="col-4">
                    <h3>{{fundRaiser.current}}</h3>
                    <span>raised out of {{fundRaiser.goal}}</span>
                </div>
                <div class="col-4t">
                    <h3>27</h3>
                    <span>days left to go</span>
                </div>
            </div>
    </div>
</header>
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="content col-md-8 col-sm-12 col-xs-12">
                <div class="section-block">
                    <div class="funding-meta">
                        <h1>{{fundRaiser.title}}</h1>
                        <div class="video-frame">
                            <img style="height: 300px; width: 700px" src="{{fundRaiser.image}}">
                        </div>
                        <span class="type-meta"><i class="fa fa-user"></i> {{fundRaiser.user.name}}</span>


                        <br>
                        <br>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="fundRaiser.current" aria-valuemin="0" [attr.aria-valuemax]="fundRaiser.goal" style="width: {{fundRaiser.current}}%;">
                            </div>
                        </div>
                    </div>
                </div>
                <!--signup
                <div class="section-block signup">
                        <div class="sign-up-form">
                                <form>
                                        <p>Sign up now for updates and a chance to win a free version of launch!</p>
                                        <input class="signup-input" type="text" name="email" placeholder="Email Address"><button class="btn btn-signup" type="submit"><i class="fa fa-paper-plane"></i></button>
                                </form>
                        </div>
                </div>
                <!--/signup-->
                <!--tabs-->

                <!--/tabs-->
                <!--tab panes-->
                <div class="section-block">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="about">
                            <div class="about-information">
                                <h3 class="section-title">{{ fundRaiser.description }}</h3>
                            </div>
                        </div>

                    </div>
                </div>

                <br>
                <br>
                <p> Gostaria de ajudar esta causa?</p>
                <div class="form-group">
                    <input type="password" class="form-control input-underline input-lg" id="" [(ngModel)]="value" [ngModelOptions]="{standalone: true}" placeholder="Valor a doar">
                    <button type="button" class="btn btn-lg btn-default" (click)="donate1(value)"   >Donate</button>
                </div>
            </div>
            <!--/tabs-->
            <!--/main content-->
            <!--sidebar-->
            <div class="content col-md-4 col-sm-12 col-xs-12">

                <div class="section-block">
                    <h1 class="section-title">REWARDS</h1>
                    <!--reward blocks-->
                    <div class="reward-block">
                        <h3>10% of the goal</h3>
                        <h2>Early Bird</h2>
                        <p>This reward is not currently set on the platform</p>
                    </div>
                    <div class="reward-block popular">
                        <h3>20% of the goal</h3>
                        <h2>Value Bird</h2>
                        <p>This reward is not currently set on the platform</p>
                    </div>
                    <!--/reward blocks-->
                </div>

            </div>
        </div>
    </div>
</div>
